
* {
  font-family: 'Open Sans', sans-serif;
}

body {
  padding-top: 20px;
  font-family: 'Open Sans', sans-serif;
}
/* Carousel */
#myCarousel .nav a small {
    display:block;
}
#myCarousel li,
#myCarousel li a {
  transition: all ease-in-out 500ms;
}
#myCarousel .nav a {
    border-radius:0px;
}


#myCarousel li:hover {
  box-shadow: 1px 1px 7px 1px grey;
  background-color: #337ab7;
}

#myCarousel li:hover a {
  background-color: #337ab7;
  padding-bottom: 40px;

}


.item a {
  padding: 15px;
  border-radius: 0px;
  background-color: rgba(255, 255, 255, 0.4);
  color: black;
  text-shadow: 0;

}
